<h1>Labels List</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3 table-responsive">
    <table class="table">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th class="action-col-title" colspan="2">Action</th>
        </tr>
      </thead>

      <tbody>
        <%= render @labels %>
      </tbody>
    </table>
    <div class="add-label-block">
      <%= link_to 'ラベル作成', new_label_path, class: 'btn btn-default add-label-btn' %>
    </div>
  </div>
</div>
