<div class="right-dash-board">
    <div class="dash-board-wrapper">
        <div class="dash-board-heading">
            <div class="heading-wrapper">
                <div class="heading-icon"><i class="fas fa-stream"></i></div>
                <div class="heading-title">Activity<small>(高度機能)</small></div>
            </div>
        </div>
        <div class="dash-board-body"></div>
    </div>
</div>
