<div class="right-dash-board">
    <div class="dash-board-wrapper">
        <div class="dash-board-heading">
            <div class="heading-wrapper">
                <div class="heading-icon"><i class="fa fa-search"></i></div>
                <div class="heading-title">Advanced Search <small>(高度な検索)</small></div>
            </div>
        </div>
        <div class="dash-board-body">
            <div class="advanced-search-form-wrapper">
                <%= render 'shared/advanced_search_form' %>
            </div>
        </div>
    </div>
</div>
